<div class="row" style="text-align:center">
  <div class="col-md-12">
    <h3 style="text-transform: uppercase;display:inline-block;border-bottom:4px solid #269abc">Ethiopic Language Identifier</h3>

    <textarea ng-change="vm.identify()" class="form-control" rows=6 ng-model="vm.input" placeholder="Type or paste a sample text"></textarea>


    <div style="text-align:center;margin:10px;">
      <span>Supported Languages: </span>
      <div style="display:inline" ng-repeat="sl in vm.supportedLanguages">
        <div style="width:9px;height:9px;display:inline-block;background:{{sl.Color}}"></div> <span>{{sl.Language}}</span>&nbsp;
      </div>
    </div>

    <div>
      <button ng-click="vm.identify()" ng-disabled="loadingSignatures" style="margin:auto;width:12em" class="btn btn-lg btn-default"
        ng-href="#/">Identify</span></button>
    </div>
  </div>
</div>

<div ng-show="vm.loadingSignatures" class="row" style="text-align:center">
  <br/>
  <img width=50 src="images/loading.gif" />
  <h4>Loading signatures. Please wait...</h4>
</div>


<div class="row" ng-show="!vm.loadingSignatures && vm.scores">
  <hr/>
  <div class="row" style="text-align:center">

    <div class="col-md-12 col-sm-12">
      <h3 ng-hide="vm.unableToIdentify" style="font-size:1.2em"><span style="padding: 10px;border-bottom:5px solid #269abc">Language Identified As </span>
        <span style="padding: 10px;background:#269abc;
    color: white;
    border-bottom:5px solid #269abc;
    margin: auto;
    width: 30%;text-transform:uppercase;"> 
    {{vm.Language.Language}}
    </span>
      </h3>
      <label ng-show="vm.unableToIdentify" class="label label-danger" style="font-size:1.3em">
        Unable To Identify
      </label>
    </div>
  </div>

  <br/>
  <div class="row" ng-hide="vm.unableToIdentify">

    <div style="text-align: center" class="col-md-12 col-sm-12">
      <small>Probability of the languages is shown</small>

      <div style="width:90%;margin:auto;text-align:left">
        <div ng-show="score.Percentage" data-toggle="tooltip" data-placement="top" title="{{score.Language}}" ng-repeat="score in vm.scores | orderBy : '-Score'"
          style="height:20px;display:inline-block;width:{{score.Percentage}}%;color:gray;font-weight:bold;">

          <span>&nbsp;&nbsp;{{score.Language}} {{score.Percentage}}%</span>
          <div style="height:15px;width:100%;background:{{score.Color}};"></div>
        </div>
      </div>

    </div>
  </div>



  <div class="row" ng-hide="vm.unableToIdentify">
    <div style="text-align:center;margin-bottom:4px;" class="col-md-12">
      <button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#furtherBreakdown" aria-expanded="false"
        aria-controls="furtherBreakdown" style="margin:25px;">
  Detailed Breakdown <span class="glyphicon glyphicon-arrow-down"></span>
</button>

      <div class="collapse" id="furtherBreakdown">
        <table style="margin:auto; width:60%" class="table table-bordered">
          <tr>
            <th>Language</th>
            <th>Score</th>
            <th></th>
          </tr>
          <tr ng-repeat="score in vm.scores | orderBy : '-Score'">
            <td>{{score.Language}}</td>
            <td>{{score.Score}}</td>
            <td ng-show="score.Percentage">{{score.Percentage}}%</td>
          </tr>
          <tr>
            <td colspan="3">
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>