<div class="row" style="text-align:center">
  <h3 style="text-transform: uppercase">Ethiopic Language Identifier</h3>

  <textarea ng-change="vm.identify()" class="form-control" rows=5 ng-model="vm.input" placeholder="Paste a url or a sample text"></textarea>
  <br/>

  <div>
    <button ng-click="vm.identify()" ng-disabled="loadingSignatures" style="margin:auto;width:12em" class="btn btn-lg btn-default" ng-href="#/">Identify</span></button>
  </div>

</div>

<div ng-if="vm.loadingSignatures" class="row" style="text-align:center">
  <h2>Loading signatures. Please wait</h2>
</div>


<div class="row" ng-show="!vm.loadingSignatures && vm.scores">
  <div style="text-align:center">
    <hr/>
    <h4>Language Identified As <span style="background:dodgerblue;
    color: white;
    padding: 10px;
    margin: auto;
    width: 30%;text-transform:uppercase"> {{vm.Language.Language}}</span>
      <h4>

  </div>
  <br/>
  <hr/>
  <br/>
  <div style="width:80%;margin:auto;">
    <div data-toggle="tooltip" data-placement="top" title="{{score.Language}}" ng-repeat="score in vm.scores | orderBy : '-Score'"
      style="height:20px;display:inline-block;width:{{score.Percentage}}%;color:gray;font-weight:bold;">

      <span>{{score.Language}} {{score.Percentage}}%</span>
      <div style="height:15px;width:100%;background:{{score.Color}};"></div>
    </div>
  </div>

  <hr/>

  <table style="margin:auto; width:50%" class="table">
    <tr>
      <th colspan="3">Breakdown</th>
    </tr>
    <tr>
      <th>Language</th>
      <th>Score</th>
      <th>%</th>
    </tr>
    <tr ng-repeat="score in vm.scores | orderBy : '-Score'">
      <td>{{score.Language}}</td>
      <td>{{score.Score}}</td>
      <td>{{score.Percentage}}%</td>
    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
  </table>

</div>

<br/>